@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Oxygen&display=swap');

/* Custom Properties for Colors */

:root {
    --white: #fafafa;
    --light-blue: #367ec8;
    --black: #0C0C0C;
    --green: #07840C;
}

html, body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Oxygen', 'Oswald', sans-serif;
    color: var(--white);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
}

main {
    display: flex;
    width: 100%;
    height: calc(100vh - 4px);
    background-color: var(--black);
}

img {
    width: 43vw;
    height: 100%;
    background-color: var(--green);
    position: relative;
}

.form-card {
    width: 57vw;
    display: flex;
    flex-direction: column;
}

div > p {
    display: flex;
    justify-content: center;
    padding: 120px 0px 5px 60px;
    font-size: 24px;
    font-weight: 600;
    width: 75%;
}

.header-text {
    width: 100%;
    height: 300px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.sign-up-now {
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 24px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    width: 900px;
    padding: 20px 0px 15px 40px;
    gap: 20px 85px;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 5px 20px;
    width: 300px;
    height: 60px;
    gap: 5px;
}

label {
    font-size: 15px;
    padding-left: 1px;
}

input {
    width: 250px;
    height: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: "Oswald", "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 18px;
    appearance: none;
}

button {
    margin-left: 60px;
}

input:focus {
    border: 3px var(--green) solid;
    outline: none;
}

input:invalid:not(:focus):not(:placeholder-shown):invalid {
    border: 3px solid red;
}

button {
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    font-family: "Oswald", "Oxygen", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

button:hover {
    background-color: var(--white);
    color: var(--green);
}

button:active {
    background-color: var(--green);
    color: var(--white);
}

.log-in {
    padding-left: 60px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: var(--green);
    font-family: "Oswald", "Oxygen" sans-serif;
    font-weight:bolder;
}

a:active, a:hover {
    color: var(--white);
}